/* example of external css */
.img {
    width: 280px;
    height: 90px;
    display: flex;
    margin: 5px 0px 5px 10px;  /* atas kanan bawah kiri */
    border-radius: 5px;
    align-items: center;
}